mixin adv()
  -
    const mock = [
      {
        subtitle: "Уверенность в\u00A0завтрашнем дне",
        text: "ООО «Conecom», российское подразделение французского концерна DuffBeer. Мы компания, которая честно ведет свой бизнес на территории РФ, соблюдая законодательство и гарантируя стабильность и уверенность в завтрашнем дне.",
        path: "content",
        name: "adv1",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Девушка с ребенком на фоне солнца.",
      },
      {
        subtitle: "Безопасность на рабочем месте – приоритет №1",
        text: "Вопросам безопасности и качества пищевой продукции в нашей компании уделяется повышенное внимание. Все производства группы DuffBeer в России постоянно работают над улучшением процессов и стремятся сделать все возможное, чтобы рабочий процесс был максимально безопасным и комфортным.",
        path: "content",
        name: "adv2",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Проверка безопасности.",
      },
      {
        subtitle: "Стабильная заработная плата",
        text: "Мы обеспечиваем нашим сотрудникам стабильную заработную плату в соответствии с рынком региона. Средний стаж работы в нашей компании – 7 лет.",
        path: "content",
        name: "adv3",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Человек смотрит вдаль.",
      },
      {
        subtitle: "Заботимся о здоровье сотрудников",
        text: "Каждый сотрудник в нашей компании обеспечен полисом добровольного медицинского страхования. Кроме того, на каждом заводе есть медицинский пункт для сотрудников. Осуществляется страхование от несчастных случаев с первого дня работы.",
        path: "content",
        name: "adv4",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Врач измеряет пульс пациента.",
      },
      {
        subtitle: "Предоставление удобной спецодежды и СИЗ для производственного персонала",
        text: "Мы предоставляем удобные СИЗ и спецодежду и в случае износа или порчи обмениваются на новые.",
        path: "content",
        name: "adv5",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Фото сотрудник возле оборудования.",
      },
      {
        subtitle: "Обучение: различные программы обучения и профессиональные тренинги",
        text: "Мы уделяем много внимания развитию наших сотрудников. В компании работает Внутренний центр обучений и ежегодно проводится большое количество обучающих мероприятий как локально на заводах, так и в головном офисе DuffBeer во Франции.",
        path: "content",
        name: "adv6",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Обучение в классе.",
      },
      {
        subtitle: "Возможности для реализации творческого потенциала",
        text: "Мы ставим перед собой амбициозные и интересные цели, а реализация задач является командной работой сотрудников из различных подразделений.  Мы также принимаем активное участие в работе над кросс-функциональными проектам с коллегами из других стран присутствия DuffBeer.",
        path: "content",
        name: "adv7",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Корпоратив на озере.",
      },
      {
        subtitle: "Мы - семейная компания и любим проводить время вместе",
        text: "Ежегодно мы проводим корпоративные мероприятия не только для наших сотрудников, но и для семей наших сотрудников. А корпоративные подарки для детей сотрудников – наша добрая предновогодняя традиция.",
        path: "content",
        name: "adv8",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Детский день с шариками.",
      },
      {
        subtitle: "Мы - социально ответственная компания и заботимся об окружающих",
        text: "Наша миссия лежит в основе социально-корпоративной ответственности. Мы ведем свою деятельность в соответствии с тремя основными правилами:  мы заботимся о людях; наша деятельность устойчива по своей природе; мы заботимся об окружающей среде.",
        path: "content",
        name: "adv9",
        format: "jpg",
        width_mob: "260",
        height_mob: "178",
        width_desk: "356",
        height_desk: "178",
        alt: "Сотрудник сажает траву.",
      },
    ]

  section.adv
    .adv__container.swiper
      h2.adv__title Наши преимущества
      .adv__wrapper.swiper-wrapper
        each data in mock
          .adv__slide.swiper-slide
            .adv__picture.is-active
              +picture(data.path, data.name, data.format, data.width_mob, data.height_mob, data.width_desk, data.height_desk, data.alt)
            .adv__subwrapper
              h3.adv__subtitle.is-active= `${data.subtitle}`
              p.adv__text= `${data.text}`
              +btn(class="adv__toggler")
      +btn(aria-label="Переключите на предыдущий слайд", class="adv__btn adv__btn--prev")
      +btn(aria-label="Переключите на следующий слайд", class= "adv__btn adv__btn--next")
      .adv__pagination
