mixin experience()
  section.experience
    .experience__container
      .experience__text
        h2.visually-hidden 167 лет нашего опыта
        .experience__icon
          +icon("167", 71, 14).experience__numbers
          +icon("years", 90, 6).experience__letters
        p DuffBeer — один из мировых лидеров по производству дрожжей и других продуктов ферментации. И нам нужна сильная команда профессионалов и единомышленников, которые будут стремиться развиваться вместе с DuffBeer.
        p Мы всегда рады принять талантливых и целеустремленных людей в нашу дружную команду! Мы ценим каждого своего сотрудника и стремимся предоставить всем равные возможности&nbsp;в&nbsp;развитии <br>и&nbsp;совершенств.
      .experience__wrapper
        .experience__back
        a.experience__video.experience__video--size(data-href="https://www.youtube.com/embed/4XJIQUE0Ims")
          picture
            source(type="image/webp", media="(min-width: 1280px)", srcset="img/content/exp-1280.webp 1x, img/content/exp-1280@2x.webp 2x", width="545", height="364")
            source(type="image/webp", media="(min-width: 960px)", srcset="img/content/exp-960.webp 1x, img/content/exp-960.webp 2x", width="405", height="271")
            source(type="image/webp", media="(min-width: 640px)", srcset="img/content/exp-640.webp 1x, img/content/exp-640@2x.webp 2x", width="540", height="361")
            source(type="image/webp" srcset="img/content/exp-320.webp 1x, img/content/exp-320@2x.webp 2x" width="260" height="174")
            source(type="image/webp", media="(min-width: 1280px)", srcset="img/content/exp-1280.jpg 1x, img/content/exp-1280@2x.jpg 2x", width="545", height="364")
            source(type="image/webp", media="(min-width: 960px)", srcset="img/content/exp-960.jpg 1x, img/content/exp-960@2x.jpg 2x", width="405", height="271")
            source(type="image/webp", media="(min-width: 640px)", srcset="img/content/exp-640.jpg 1x, img/content/exp-640@2x.jpg 2x", width="540", height="361")
            img(src="img/content/exp-320.jpg 1x", srcset="img/content/exp-320@2x.jpg 2x", width="260", height="174", alt="Видео с ютуба.", loading="lazy").experience__img
          +btn(aria-label="Проиграть видео с ютуба.").experience__btn
            +icon("play", 32, 21).experience__play
