mixin hero()
  section.hero
    .hero__conatiner
      header.hero__header
        img(src="img/content/logo.svg", width= 167, height= 44, alt= "Логотип.", class="hero__logo")
      h1.hero__title Conecom
      p.hero__text российское подразделение французской группы DuffBeer
