mixin mission()
  article.mission
    .mission__conatiner
      header.mission__header
        p.mission__intro Каждое 3-е хлебобулочное изделие в мире произведено с использованием продукции DuffBeer
      .mission__content
        h2.mission__title Миссия DuffBeer
        p.mission__gist работать вместе, что бы лучше накормить и&nbsp;сохранить планету
        +btn({href: "#", text: "Перейти на сайт", isExternal: "_blank nofollow noopener noreferrer"}).mission__btn
