.ferment {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-linen;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 20px 0 67px;
    // background-color: $color-linen;

    @include vp640 {
      width: calc(100% - 40px);
      padding: 40px 0 77px;
    }

    @include vp960 {
      width: calc(100% - 80px);
      padding: 45px 0 124px;
    }

    @include vp1280 {
      width: calc(100% - 120px);
      padding: 89px 0 104px;
    }
  }

  &__title {
    width: fit-content;
    margin: 0 0 20px;
    color: $color-accent-main;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

    @include vp640 {
      margin: 0 0 16px;
    }

    @include vp960 {
      margin: 0 0 20px;
      font-size: 40px;
      line-height: 60px;
    }
  }

  &__text {
    margin: 0 0 6px;
    color: $color-soya-bean;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    @include vp640 {
      margin: 0 0 46px;
    }

    @include vp960 {
      margin: 0 0 32px;
      font-size: 18px;
      line-height: 30px;
    }

    @include vp1280 {
      margin: 0 0 60px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 16px;

    @include vp960 {
      display: grid;
      grid-template-columns: 1fr 396px;
    }

    @include vp1280 {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__slide {
    position: relative;
    flex-shrink: 0;
    width: 260px;
    height: 294px;
    background-color: $color-accent-second;
    overflow: hidden;

    @include vp960 {
      width: auto;
    }

    @include vp1280 {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    &--none {
      display: none;
    }

    &--short {
      background-color: $color-accent-main;

      @include vp960 {
        width: 294px;
      }
    }

    &:nth-of-type(1),
    &:nth-of-type(5) {
      @include vp960 {
        h3 {
          padding: 16px 32px 0 50px;
          text-align: right;
        }
      }

      @include vp1280 {
        h3 {
          padding: 16px 41px 16px 50px;
        }
      }
    }

    &:nth-of-type(2) {
      @include vp960 {
        width: 294px;

        h3 {
          padding: 16px 32px 0 50px;
        }
      }

      @include vp1280 {
        h3 {
          padding: 16px 32px 0 40px;
        }
      }
    }

    &:nth-of-type(6n + 3) {
      padding: 66px 15px 40px 15px;

      @include vp960 {
        width: 294px;
        margin: 0 0 0 auto;
        padding: 66px 43px 40px 39px;
      }

      @include vp1280 {
        padding: 72px 43px 40px 39px;
      }

      h3 {
        text-align: center;
      }

      svg {
        margin: 0 0 10px 32px;

        @include vp960 {
          margin: 0 0 10px 27px;
        }
      }
    }

    &:nth-of-type(4) {
      @include vp960 {
        h3 {
          padding: 16px 32px 0 50px;
          text-align: left;
        }
      }

      @include vp1280 {
        h3 {
          padding: 16px 32px 16px 40px;
        }
      }
    }

    &:nth-of-type(6n + 6) {
      padding: 63px 61px 40px 40px;

      @include vp960 {
        width: 294px;
      }

      @include vp1280 {
        padding: 70px 61px 40px 40px;
      }

      h3 {
        padding: 16px 2px 0 21px;
        text-align: center;

        @include vp960 {
          padding: 16px 32px 0 50px;
        }
      }

      svg {
        margin: 0 0 9px 56px;

        @include vp960 {
          margin: 0 0 9px 78px;
        }
      }
    }
  }

  &__picture {
    @include vp960 {
      img {
        object-fit: cover;
        width: 100%;
        height: 240px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    padding: 16px 9px 0;
    color: $color-default-white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  &__btn {
    @include pseudo;

    position: absolute;
    z-index: 1;
    width: 15px;
    height: 80%;
    padding: 0;
    background-color: $color-linen;

    @include vp640 {
      width: 20px;
    }

    @include vp960 {
      display: none;
    }

    &::before {
      @include svg("arrow");

      @include pseudo {
        position: relative;
        top: 67px;
        width: 12px;
        height: 14px;
        margin: -32px 0 0;
      }
    }
  }

  &__btn--prev {
    left: -15px;

    @include vp640 {
      left: -20px;
    }
  }

  &__btn--next {
    right: -15px;

    @include vp640 {
      right: -20px;
    }

    &::before {
      transform: rotate(180deg);

      @include vp640 {
        margin: -32px 0 0;
      }
    }
  }

  &__pagination {
    order: -1;
    display: flex;
    gap: 8px;
    width: 64px;
    height: 4px;
    margin: 0 0 16px;
    overflow: hidden;

    @include vp640 {
      order: unset;
      margin: 0 auto;
    }

    @include vp960 {
      display: none;
    }
  }

  &__bullet {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: $color-accent-second-trans-33;
    border-radius: 50%;
    border: none;

    &--active {
      display: inline-flex;
      background-color: $color-accent-main;

      &-main {
        display: inline-flex;
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &::after {
    @include pseudo;
    @include svg("decor-ferment-main");

    position: absolute;
    bottom: -201px;
    right: -105px;
    width: 237px;
    height: 297px;

    @include vp640 {
      bottom: -216px;
      right: -69px;
      width: 237px;
      height: 297px;
    }

    @include vp960 {
      bottom: 751px;
      right: -126px;
      width: 332px;
      height: 418px;
    }

    @include vp1280 {
      bottom: 755px;
      right: -36px;
      width: 332px;
      height: 418px;
    }
  }

  &::before {
    @include vp960 {
      @include pseudo;
      @include svg("decor-ferment-secondary");

      position: absolute;
      bottom: 179px;
      left: -117px;
      width: 489px;
      height: 376px;
    }

    @include vp1280 {
      bottom: 308px;
      left: -99px;
      width: 489px;
      height: 367px;
    }
  }
}
