// Colors

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-accent-main:                 #0a3b93;
$color-accent-second:               #8a7b60;
$color-soya-bean:                   #6c5f4a;
$color-linen:                       #f7eee5;

// $color-stonewall:                   #8a7b60;

$color-transparent:                 rgba(255, 255, 255, 0);
$color-accent-second-trans-67:      rgba(138, 123, 96, 0.67);
$color-accent-second-trans-42:      rgba(138, 123, 96, 0.42);

//Typography

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;
$ff-secondary:                      "Lato", "Arial", sans-serif;

$fz-default: 16px;

// Animation

$tf-default:                        ease-in-out;

$trans-default:                     0.3s $tf-default;
$trans-600:                         0.6s $tf-default;

// Viewports

$vp320:                            320px;
$vp640:                            640px;
$vp960:                            960px;
$vp1280:                           1280px;
